{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/background.png");
  background-repeat: repeat;
  object-fit: cover;
}

.ysa {
  width: 100%;
  height: 50px;
  background-color: white;
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-item img {
  object-fit: cover;
}

.cardHighlight{
  min-height: 100%;
}

.yellow1 {
  background-color: #FFB323;
}

.orange1 {
  background-color: #FF8D23;
}

.orange2 {
  background-color: #FF7101;
}

.App{
  font-family: 'Nunito', sans-serif;
}


.navbar-brand .branding {
  width: 100%;
  height: 55px;
}

.nav-parent {
  justify-content: space-between;
}

.nav-parent .nav-menu {
  display: flex;
}